--only-binary=:all:
fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv==1.0.1
pydantic[email]==2.7.4
python-multipart==0.0.12
apscheduler==3.10.4
python-dateutil==2.9.0
slowapi==0.1.9
resend==2.4.0
fastapi-mail==1.4.1
requests==2.32.3
websockets==13.1